body {
    background-color: #000;
    font-family: "Courier New", monospace;
    margin: 0;
    padding: 0;
}

#terminal {
    padding: 1rem;
    max-width: 80%;
    margin: 1rem auto;
}

.input-line {
    display: flex;
}

.prompt {
    color: #ffb000;
}

.input {
    background-color: transparent;
    border: none;
    outline: none;
    color: #ffcc00;
    width: 100%;
    caret-color: #ffcc00;
}

#output {
    color: #ffcc00;
    white-space: pre-wrap;
}