body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: #FFA500;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image-container {
    width: 800px;
    text-align: center;
}

#terminal {
    width: 800px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    padding-bottom: 20px;
    box-sizing: border-box;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

#terminal::-webkit-scrollbar { /* Chrome, Safari, and Edge */
    display: none;
}

#intro {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
}

#typed-text {
    font-size: 20pt;
}

.hidden {
    display: none;
}

.prompt {
    color: #ffb000;
}

#input {
    width: 765px;
    border: none;
    background: none;
    color: #FFA500;
    font-family: 'Courier New', Courier, monospace;
    outline: none;
    font-size: 12pt;
}

#output {
    color: #ffb000;
    white-space: pre-wrap;
}

button {
    background-color: black;
    border: none;
    color: #ffb000;
    font-family: 'Courier New', monospace;
    font-size: 20pt;
    margin: 0 10px;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #FDD835;
    color: black;
}